@model SharedObjects.ViewModels.AddSectorViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<h4>AddSectorViewModel</h4>
<hr />

<div class="table-responsive col-md-12">
    <div class="row">
        <div class="portlet-body">

            <div class="table-toolbar">
                <form class="modal-body" id="frm-save">

                    <div class="col-md-3 pull-left">
                        <label for="txt-SAP">SAP</label>
                        <input type="text" class="form-control" id="txt-sector" data-sap="SAP" name="SAP" style="color:mediumvioletred">
                    </div>

                    <div class="col-md-4  pull-left">
                        <a class="btn btn-success" id="btn-add">Add</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive col-md-12">
        <table class="table table-bordered table-hover table-striped table-responsive">
            <thead>
                <tr class="text-center bold font-green-sharp">

                    <td>Sector</td>
                    
                </tr>
            </thead>
            <tbody id="table-content">
                <tr class="text-center">
                    <td id="sap"></td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>



@section scripts{
    <script src="~/js/sector.js"></script>
}

