@model SharedObjects.ViewModels.AddSectorViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<h4>AddSectorViewModel</h4>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="table-toolbar portlet light">
                    <form class="modal-body" id="frm-save">

                        <div class="col-md-3 pull-left">
                            <label for="txt-SAP">Sector</label>
                            <input type="text" class="form-control" id="txt-sector" data-sector="" name="Sector" style="color:mediumvioletred">
                        </div>
                        <div class="col-md-4  pull-left">
                            <a class="btn btn-success" id="btn-add">Add</a>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portlet light">
                    <div id="table-active">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light">
                    <div id="table-not-active">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section scripts{
    <script src="~/js/sector.js"></script>
}

