@model SharedObjects.ViewModels.AddEmployeeViewModel

@{
    ViewData["Title"] = "Add";
    //var sectors = ViewData["sectors"] as IEnumerable<SharedObjects.ValueObjects.VSector>;
}


<div class="row">
    <div class="col-md-offset-2">
        <h2>Add</h2>

        <h4>AddEmployeeViewModel</h4>
        <hr />
        <div class="portlet light col-md-10">
            <form enctype="multipart/form-data" asp-action="Add" method="post" style="height:100px !important">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sap" class="control-label"></label>
                        <input asp-for="Sap" class="form-control" />
                        <span asp-validation-for="Sap" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuperiorEmail" class="control-label"></label>
                        <input asp-for="SuperiorEmail" class="form-control" />
                        <span asp-validation-for="SuperiorEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Workcell" class="control-label"></label>
                        <input asp-for="Workcell" class="form-control" />
                        <span asp-validation-for="Workcell" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sector" class="control-label"></label>
                        @*<input asp-for="Sector" class="form-control" />
                            <span asp-validation-for="Sector" class="text-danger"></span>*@


                        <select asp-for="Sector" name="Sector" class="form-control">
                            @*@foreach (var item in sectors)
                                {
                                    <option value=@item.Id>@item.Sector</option>

                                }*@

                            <option value=2>ENG</option>
                            <option value=3>Manager</option>
                            <option value=4>Tech</option>
                        </select>
                        <span asp-validation-for="Sector" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="Image" class="custom-file-label" for="customFile">Choose file</label>
                        <input asp-for="Image" class="custom-file-input" id="customFile">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

            </form>
            <div>
                <a asp-action="Getall">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>
}
