@model List<SharedObjects.ValueObjects.VSearchResult>

@foreach (var item in Model)
{
<tr>
    <td>
        @item.Sap
    </td>
    <td>
        <a class="btn default btn-xs red remove" data-sap="@item.Sap"><span class="glyphicon glyphicon-minus" title="Remove User"></span></a>

    </td>
</tr>
}