
@model SharedObjects.ViewModels.UpdateEmployeeViewModel

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="height:700px">
                <div class="portlet-title">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="col-md-2 col-sm-12 col-xs-12 pull-left">
                                <a class="btn btn-success" target="_blank" href="/Account/add" id="btn-add">Create new</a>

                            </div>
                        </div>
                    </div>
                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            Search Employee
                        </span>
                    </div>
                    <div class="portlet-body">

                        <div class="table-toolbar">
                            <form class="modal-body" id="frm-save">
                                <div class="col-md-3 pull-left">
                                    <label class="text-center bold font-green-sharp" for="txt-SAP">SAP/Email/Name</label>
                                    <input type="text" class="form-control" id="txt-search" data-search="search" name="SAP" style="color:mediumvioletred">
                                </div>

                                <div class="col-md-4  pull-left">
                                    <a class="btn btn-success" id="btn-search">Search</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="table-content" class="table-responsive col-md-12 table-responsive" style="height:250px">
                    <table class="table table-bordered table-hover table-striped ">
                        <thead>
                            <tr class="text-center">
                                <td>SAP</td>
                                <td>Name</td>
                                <td>Workcell</td>
                                <td>Position</td>
                                <td>Sector</td>
                                <td>Image</td>
                                <td>Utilities</td>
                            </tr>
                        </thead>
                        <tbody id="table-content">
                        </tbody>
                    </table>
                </div>
                <div class="pagination" id="pagination">
                </div>
            </div>

        </div>

    </div>

</div>



@section Script{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>

    <script src="~/js/get-employee-pagination.js"></script>
}



